#html {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: column;
}

body {
    background-color: transparent;
}

.overlay {
    opacity: 1;
    transition: opacity 0.5s;
}

.ohide {
    opacity: 0;
}
