body {
    overflow-x: hidden;
}

label {
    color: white;
    font-size: 14px;
    font: 200;
}

button {
    background-color: var(--surface);
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-weight: 100;
    cursor: pointer;
}

.name:hover {
    background-color: #eee;
    color: black;
}

button:hover {
    background-color: var(--buttonHover)
}

.filename {
    font-family: monospace;
    color: grey;
    margin: 5px 0 5px 0;
}

#filepath {
    background-color: var(--surface);
    color: white;
    border: none;
    padding: 4px;
    border-radius: 4px;
    font-weight: 100;
    width: 100vw;
    margin: 0px 10px 0px 10px;
}

#filepath:focus {
    outline: none;
}

.ctl {
    display: flex;
    background-color: var(--bg);
    padding: 7px;
    flex-direction: column;
    min-height: 100vh;
}

.ctlFileHolder {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

select {
    background-color: var(--surface);
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-size: 13px;
    outline: none;
    border: none;
    width: 190px;
    margin-right: 9px;
}

.tempSel {
    margin-bottom: 15px;
}

.ts {
    width: 60vw;
}

.num-name {
    display: flex;
}

.name-collapse {
    margin-right: 2vw;
}

.name {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    background-color: var(--surface);
    color: white;
    font-size: 15px;
    padding: 3px 0px 3px 5px;
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
    background-color: var(--surface);
    color: white;
    font-weight: 100;
}

.captHolder {
    padding: 2vw 0vw 2vw 5vw;
}

.capt {
    cursor: pointer;
    padding: 4px 0px 4px 8px;
    width: 84vw;
    white-space: pre-wrap;
    border-radius: 4px;
    background-color: var(--surface);
    margin-bottom: 5px;
    user-select: none;
}

.capt:hover {
    background-color: var(--sel);
}

.sel {
    background-color: var(--sel);
}

button, div {
    user-select: none;
}
